h2{
  color: rgb(12, 56, 177);
}
// .button-row button,
// .button-row a {
//   margin-right: 8px;
// }
.active-cyan-2 input[type=text]:focus:not([readonly]) {
  border-bottom: 1px solid #4dd0e1;
  box-shadow: 0 1px 0 0 #4dd0e1;
  }
  .menu-icon{
  color: #1a46c2;
  }

